<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0161bbc5-21dd-4e9f-8b84-983ad2629041/resourcegroups/UninetMongoResource/providers/Microsoft.Web/sites/UninetWebApi220231222123817</ResourceId>
    <ResourceGroup>UninetMongoResource</ResourceGroup>
    <ApiResourceId>/subscriptions/0161bbc5-21dd-4e9f-8b84-983ad2629041/resourceGroups/UninetWebAPI_ResourceGroup/providers/Microsoft.ApiManagement/service/UnintWEBAPIapi/apis/UnintWEBAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://uninetwebapi220231222123817.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>92b59114-6e5e-481d-8670-5b48b9eda62e</ProjectGuid>
    <MSDeployServiceURL>uninetwebapi220231222123817.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>UninetWebApi220231222123817</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$UninetWebApi220231222123817</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>